/* GRAN CONTENIDOR */
.detall-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
  background-color: var(--blanc);
  
  /* border: 1px solid rgb(255, 0, 0); */
}

/* CARRUSEL D'IMATGES */
/* Contenidor principal de la imatge que defineix la mida i la posició relativa pels punts */
.carousel-container {
  width: 100%;
  aspect-ratio: 1 / 0.9; 
  position: relative;
  border-radius: 20px;
  overflow: hidden; /* Perquè les vores rodones retallin les imatges */
}

/* SCROLL (sense això no el puc fer) */
.carousel-slider {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll; /* Permet moure's horitzontalment. MOLT IMPORTANT */
  scroll-snap-type: x mandatory; /* Per obligar a parar-se exactament a cada foto */
  
  /* Amagar la barra de scroll (IA) */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.carousel-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Cada imatge individual dins del carrusel */
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  scroll-snap-align: center;
}

/* PUNTETS */
.carousel-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 5; /* Per sobre de la imatge */
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.dot.active {
  background-color: var(--blanc);
  transform: scale(1.5);
}


/* CONTENIDOR INFO */
.info-container {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* border: 1px solid rgb(255, 0, 0); */

}

/* TÍTOL */
.detall-titol {
  font-family: var(--font-titols);
  color: var(--blau);
  font-size: 40px; /* Mida 40 */
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  margin: 0;

  /* border: 1px solid rgb(255, 0, 0); */

}

/* UBICACIÓ */
.detall-ubicacio {
  width: 100%;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.text-ubicacio {
  font-family: var(--font-principal);
  font-size: 20px;
  color: var(--negre);
  line-height: 1.2;

  /* per alinea icona i text */
  display: flex; 
  flex-direction: row;
  align-items: flex-start; 
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.icona-inline {
  width: 24px;
  height: 24px;
  display: block; /* Important per SVGs */
  flex-shrink: 0;
  margin-top: 0px;
}

/* BOTONS INTERACCIÓ */
.icones-interaccio {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* Gap automàtic (reparteix espai) */
  justify-content: space-between; 
  align-items: center;
  margin: 10px 0;

  /* border: 1px solid rgb(255, 0, 0); */

}

.btn-interaccio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
  /* Estils del botó */
  border: 0.8px solid var(--blau);
  border-radius: 6px;
  padding: 3px 6px;
  background-color: transparent; 
  cursor: pointer;
  color: var(--blau); 
  transition: all 0.2s ease;
}

.text-interaccio {
  font-family: var(--font-principal);
  font-size: 15px; /* Mida 15 */
}

/* ESTAT ACTIU DEL BOTÓ (Clicat / Recuperat de BD) */
.btn-interaccio.actiu {
  background-color: var(--blau);
  border-color: var(--blau);
  color: var(--blanc);
}

/* Quan el botó és actiu el text i icona passa a blanc */
.btn-interaccio.actiu .text-interaccio {
  color: var(--blanc);
}



/* DIMENSIONS */
.dimensions-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* Gap automàtic (reparteix espai entre els 3) */
  justify-content: space-between; 
  align-items: flex-start;

  /* border: 1px solid rgb(255, 0, 0); */
}

.dim-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
}

.dim-titol {
  font-family: var(--font-principal);
  font-size: 18px;
  color: var(--negre);
  text-align: center;

}

.dim-valor-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}

.dim-valor {
  font-family: var(--font-principal);
  font-size: 20px;
  font-weight: 700;
  color: var(--negre);
}

/* ALTRES DADES (Entorn, Coordenades...) */
.info-bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  margin-bottom: 5px;
  
  /* border: 1px solid rgb(255, 0, 0); */
}

.info-titol {
  font-family: var(--font-principal);
  font-weight: bold;
  font-size: 20px;
  color: var(--negre);
}

.info-valor {
  font-family: var(--font-principal);
  font-weight: 400;
  font-size: 20px;
  color: var(--negre-fluix);
  line-height: 1.3;
}

/* BOTÓ ENRERE (Flotant) */
.btn-enrere {
    position: absolute;
    top: 10px;   /* Marge superior des de la imatge */
    left: 10px;  /* Marge esquerre */
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blau);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 10; /* Per estar per sobre de la imatge */
    cursor: pointer;
    transition: transform 0.1s ease;
}