.carousel-scroll {
  display: flex;
  overflow-x: auto;
  gap: 14px;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-scroll::-webkit-scrollbar {
  display: none; /* Oculta scrollbar */
}

.card {
  min-width: 120px;
  max-width: 120px;
  height: 150px;
  background: #f7f3f3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  scroll-snap-align: start;
}

.card img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.arbresArticles{
  border: 1px solid green;
  margin: 10px;
  padding: 10px;
}

@media (max-width: 480px) {
  .card {
    min-width: 80px;
    max-width: 80px;
    height: 110px;
  }

  .arbresRecomenats {
    width: 100%;
  }
}