/* CONTENIDOR PRINCIPAL DE LA PÀGINA */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  /* border: 1px solid rgb(17, 255, 0); */
}

/* ESTIL REUTILITZABLE PER A SECCIONS */
.home-section {
  width: 100%;
  padding: 0 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  /* border: 1px solid rgb(242, 0, 255); */
}

/* TÍTOLS DE SECCIÓ (Reutilitzable) */
.section-title {
  font-family: var(--font-titols);
  font-size: 32px;
  font-weight: 700;
  color: var(--blau);
  margin: 0;
}

/* CONTENIDOR SCROLL HORITZONTAL */
.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  overflow-x: auto; /* PERMET SCROLL */
  overflow-y: hidden;

  /* Truc per amagar la barra de scroll i que sembli app nativa (IA) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
/* Amagar barra scroll Chrome/Safari/Opera (IA) */
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* ÍTEM INDIVIDUAL (L'ARBRE) */
.recommended-item {
  width: auto;
  flex-shrink: 0;   /* Important: Això evita que s'axafin quan n'hi ha molts */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;

  /* border: 1px solid rgb(255, 0, 0); */
}

/* IMATGE DE L'ÍTEM */
.rec-image {
  width: 120px;
  height: 120px;
  object-fit: cover; /* Retalla la imatge quadrada perfecta */
  display: block;
  border-radius: 10px;
}

/* NOM DE L'ÍTEM d'Arbres Recomenats */
.rec-name {
  font-family: var(--font-titols);
  font-size: 16px;
  font-weight: 700;
  color: var(--negre);
  text-align: center;
  line-height: 1.1;
  width: 120px;

  /* border: 1px solid rgb(17, 255, 0); */
}