.search-page-container {

  width: 100%;

  box-sizing: border-box;

}



/* CONTENIDOR DE LA BARRA DE CERCA */

.search-bar {

  display: flex;

  align-items: center;

  gap: 5px;

  border: 1px solid var(--negre-fluix);

  border-radius: 16px;

  padding: 2px 5px;

  margin: 15px 0px 10px 0px;

}



/* L'INPUT (ON S'ESCRIU) */

.search-input {

  border: none;

  outline: none; /* Treiem la línia blava per defecte del navegador */

  width: 100%;

  background: transparent;

  font-family: var(--font-principal);

  font-size: 18px;

  color: var(--negre);

}



/* Estil del text placeholder */

.search-input::placeholder {

  color: var(--negre-fluix);

  font-size: 15px;

}



.no-results {

  text-align: center;

  color: var(--negre-fluix);

  margin-top: 40px;

  font-family: var(--font-principal);

}



/* FILTRAR I ORDENAR */

.actions-container {

  width: 100%;

  display: flex;

  flex-direction: row;

  justify-content: space-evenly;

  align-items: center;

 

  /* Padding top i bottom de 4 */

  padding: 0px 0;

 

  /* border: 1px solid red; */

}



/* Cada element (Filtrar / Ordenar) */

.action-item {

  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: center;

  gap: 5px; /* Gap de 5 */

 

  /* Amplada fill (ocupa la meitat cadascun) */

  flex: 1;

  height: fit-content; /* Alçada hug */

}



.action-text {

  font-family: var(--font-titols);

  font-size: 26px; /* Ajusta la mida si ho veus petit */

  font-weight: 700;

  color: var(--negre);

}



/* Separador Vertical */

.vertical-sep {

  width: 1px;

  height: 24px;

  background-color: var(--negre-fluix);

  opacity: 0.6;

}

