.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 78px;
  background-color: var(--blanc);
  padding: 8px 20px 0 20px; 
  box-sizing: border-box; 
  z-index: 1000;
  border-top: 0.3px solid var(--negre-fluix);
  display: flex; 
  justify-content: center;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%; 
  max-width: 450px;
}

.footer-item {
  display: flex;
  justify-content: center;
}

.footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-icon {
  width: 45px;
  height: 45px;

  /* TRANSICIÓ */
  transition: color 0.2s ease;

  /* ESTAT INACTIU (Per defecte) */
  color: var(--negre-fluix); 
}

/* ESTAT ACTIU */
.footer-item.active .footer-icon {
  /* Quan el pare té la classe 'active', l'icona canvia a negre fosc */
  color: var(--negre); 

}