.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;

  background-color: #fff;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 999;
}

.footer-btn {
  text-decoration: none;
  font-size: 24px;
  color: #333;
}

.footer-btn:hover {
  color: #000;
}


.footer-icon {
  width: 24px;
  height: 24px;
  object-fit: contain; /* para que no se deforme */
}
