/* src/components/GraellaProgres.css */

.graella-container {
  width: 100%;
  display: grid;
  /* 18 columnes d'igual amplada */
  grid-template-columns: repeat(18, 1fr); 
  /* Gap de 4px com demanaves */
  gap: 4px; 
  
  /* Alineació */
  justify-items: center; /* Centra horitzontalment dins la cel·la */
  align-items: center;   /* Centra verticalment dins la cel·la */
  
  /* Paddings 0 com demanaves */
  padding: 0;
  margin: 10px 0; /* Un petit marge vertical extern per separar del text */
}

/* LA CASELLA (Contenidor de la icona o cercle) */
.graella-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Per assegurar que no es deformi */
  aspect-ratio: 1 / 1; 
  cursor: pointer;
}

.graella-item:active {
  transform: scale(0.9); /* Petit efecte de prémer botó */
}

/* L'ARBRE (Visitat) */
.icona-arbre-graella {
  width: 18px;  /* Mida exacta Figma */
  height: 18px;
  object-fit: contain;
  display: block;
}

/* EL CERCLE (No Visitat) */
.cercle-graella {
  width: 5px;   /* Mida petita pel contrast */
  height: 5px;
  background-color: var(--negre-fluix); /* Color demanat */
  border-radius: 50%; /* Això el fa rodó */
  opacity: 0.5; /* Opcional: per fer-lo encara més subtil */
}