.Titulo{
    text-align: center;
    font-size: 20px;    
    color: var(--negre);
    margin: 0;          
    padding: 0; 
    padding-top: 10px;

    /* border: 1px solid rgb(17, 255, 0); */

}

.header-container {
    width: 100%;
    height: auto;
    padding: -10px 0; /* Espai vertical */
    background-color: var(--blau-clar);


    /* border: 1px solid rgb(0, 4, 255); */
    }
