/* src/components/TreeCard.css */

/* GRAN CONTENIDOR */
.tree-card {
  display: flex;
  flex-direction: row; /* Un al costat de l'altre */
  align-items: stretch; /* CLAU: La imatge s'estirarà tant com el text necessiti */
  justify-content: flex-start;
  
  width: 100%; /* Ocupa tot l'ample disponible del mòbil */
  
  /* Separació entre Imatge i Text segons Figma */
  gap: 5px;
  
  /* Sense decoracions extra */
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  /* border: 1px solid rgb(30, 0, 255); */
}

/* 1. CONTENIDOR IMATGE (ESQUERRA) */
.card-image-container {
  /* Ocupa exactament el 50% de l'ample */
  width: 45%;
  position: relative; /* Necessari per atrapar la imatge absoluta */
  overflow: hidden; 
  border-radius: 20px;

  /* border: 1px solid rgb(115, 255, 0); */
  
}

/* La imatge dins del contenidor */
.card-image {
  position: absolute; 
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  object-fit: cover; 
  display: block;

  /* border: 1px solid rgb(11, 0, 213); */
}

/* 2. CONTENIDOR DADES (DRETA) */
.card-data-container {
  /* L'altre 50% */
  width: 55%;
  
  display: flex;
  flex-direction: column; /* Llista vertical */
  justify-content: flex-start; /* Comença a dalt */
  
  /* Gap vertical entre files de 7px */
  gap: 7px;

  /* border: 1px solid rgb(255, 0, 242); */
}

/* ESTILS DEL TÍTOL */
.card-title {
  font-family: var(--font-titols);
  font-weight: 700; /* Negreta */
  font-size: 24px;  /* Una mica més gran que el text de 15px */
  margin: 0;        /* Els marges els controla el gap del pare */
  line-height: 1;

  /* border: 1px solid rgb(0, 0, 0); */

}

/* VARIANTS DE COLOR */
.title-style-negre {
  color: var(--negre);
}

.title-style-blau {
  color: var(--blau);
}

/* 3. ITEM INDIVIDUAL (FILA PETITA) */
.data-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  
  /* El color s'hereta del style inline del component React */
}

.data-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  
  /* Això permet que l'SVG ompli el seu espai correctament */
  display: block; 
}

/* El text */
.data-text {
  font-family: var(--font-principal);
  font-size: 15px;
  font-weight: 400;
  color: var(--negre);
  line-height: 1.2;
  word-break: break-word;
}