/* ===== Fonts ===== */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Merriweather:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #EBECE6;
  color: #605A48;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #605A48;
}

.container {
  width: 90%;
  margin: 0 auto;
}

p {
  font-family: 'Cabin', sans-serif;
}
